.message-input {
  display: flex;
  align-items: stretch;
  overflow: hidden;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 40px;
}

.message-input input {
  flex-grow: 1;
  border: 0;
  padding: 0 var(--spacing-medium);
}

.message-input button {
  border: 0;
  width: 100px;
  height: 100%;
}