.message-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  overflow-y: auto;
  width: 800px;
  height: 600px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: var(--spacing-medium) var(--spacing-small);
}

::-webkit-scrollbar-track {
  border-bottom-right-radius: 0;
}

@media screen and (max-width: 850px) {
  .message-container {
    width: calc(100vw - var(--spacing-xxl));
  }
}